# VSCode / build / temp
.vscode/
*.o
*.elf
*.bin
*.hex
build/
Debug/
Release/

# Python cache
__pycache__/
*.pyc

# Model Checkpoints
*.h5
*.tflite
*.pb

# Logs
*.log

# Others
*.DS_Store

training/audio_keyword/data/speech_commands/
